
 .star {
	 width: 1px;
	 height: 1px;
	 background: transparent;
	 box-shadow:  516px 907px #fff, 1435px 50px #fff, 1716px 656px #fff, 732px 518px #fff, 1209px 519px #fff, 1685px 983px #fff, 484px 589px #fff, 1389px 534px #fff, 1580px 834px #fff, 631px 427px #fff, 855px 865px #fff, 1694px 93px #fff, 149px 641px #fff, 11px 791px #fff, 700px 216px #fff, 736px 319px #fff, 1459px 92px #fff, 1408px 490px #fff, 396px 771px #fff, 329px 664px #fff, 1387px 274px #fff, 144px 943px #fff, 713px 415px #fff, 588px 867px #fff, 77px 4px #fff, 97px 524px #fff, 504px 924px #fff, 1608px 874px #fff, 1758px 879px #fff, 503px 320px #fff, 824px 461px #fff, 98px 409px #fff, 791px 300px #fff, 1680px 61px #fff, 895px 195px #fff, 1198px 211px #fff, 46px 309px #fff, 698px 679px #fff, 515px 372px #fff, 1006px 187px #fff, 790px 770px #fff, 1449px 266px #fff, 242px 379px #fff, 1909px 222px #fff, 1741px 539px #fff, 1302px 218px #fff, 18px 797px #fff, 132px 326px #fff, 87px 551px #fff, 742px 943px #fff, 1845px 405px #fff, 1855px 947px #fff, 56px 51px #fff, 901px 679px #fff, 197px 59px #fff, 680px 998px #fff, 1877px 500px #fff, 970px 805px #fff, 693px 411px #fff, 1342px 964px #fff, 771px 242px #fff, 1181px 144px #fff, 1545px 314px #fff, 479px 288px #fff, 285px 965px #fff, 1916px 170px #fff, 1342px 895px #fff, 836px 730px #fff, 835px 368px #fff, 1092px 669px #fff, 65px 556px #fff, 265px 814px #fff, 374px 921px #fff, 1628px 572px #fff, 557px 18px #fff, 516px 761px #fff, 1129px 865px #fff, 1582px 115px #fff, 252px 755px #fff, 507px 250px #fff, 361px 467px #fff, 1593px 312px #fff, 435px 529px #fff, 978px 26px #fff, 384px 78px #fff, 881px 314px #fff, 1173px 23px #fff, 907px 752px #fff, 586px 236px #fff, 1500px 456px #fff, 852px 910px #fff, 846px 550px #fff, 1478px 295px #fff, 1899px 182px #fff, 1009px 819px #fff, 1827px 804px #fff, 82px 204px #fff, 698px 266px #fff, 1675px 569px #fff, 254px 191px #fff, 1502px 31px #fff, 910px 218px #fff, 358px 815px #fff, 343px 771px #fff, 664px 803px #fff, 924px 325px #fff, 942px 371px #fff, 1648px 615px #fff, 1225px 814px #fff, 363px 517px #fff, 522px 575px #fff, 1889px 646px #fff, 1734px 163px #fff, 1550px 303px #fff, 981px 478px #fff, 802px 731px #fff, 341px 177px #fff, 601px 468px #fff, 1236px 289px #fff, 1094px 662px #fff, 1739px 386px #fff, 1119px 676px #fff, 1569px 114px #fff, 1235px 989px #fff, 193px 2px #fff, 614px 523px #fff, 396px 407px #fff, 1683px 492px #fff, 207px 115px #fff, 711px 976px #fff, 1034px 141px #fff, 1272px 692px #fff, 72px 756px #fff, 647px 12px #fff, 30px 888px #fff, 569px 770px #fff, 231px 778px #fff, 773px 621px #fff, 609px 486px #fff, 864px 998px #fff, 683px 965px #fff, 1863px 253px #fff, 277px 557px #fff, 1187px 531px #fff, 435px 487px #fff, 44px 570px #fff, 600px 448px #fff, 370px 677px #fff, 1543px 19px #fff, 1019px 622px #fff, 1391px 61px #fff, 883px 237px #fff, 1731px 191px #fff, 855px 455px #fff, 56px 413px #fff, 1120px 282px #fff, 1913px 28px #fff, 991px 152px #fff, 1424px 796px #fff, 1416px 705px #fff, 146px 443px #fff, 1278px 466px #fff, 1468px 384px #fff, 1455px 130px #fff, 259px 351px #fff, 471px 228px #fff, 1044px 335px #fff, 948px 789px #fff, 915px 341px #fff, 549px 684px #fff, 744px 267px #fff, 1872px 207px #fff, 476px 634px #fff, 1103px 375px #fff, 1651px 392px #fff, 265px 325px #fff, 816px 544px #fff, 735px 467px #fff, 1599px 180px #fff, 1382px 242px #fff, 1723px 626px #fff, 1534px 855px #fff, 1368px 951px #fff, 1229px 882px #fff, 1091px 914px #fff, 848px 476px #fff, 514px 759px #fff, 1515px 296px #fff, 1036px 924px #fff, 813px 136px #fff, 28px 946px #fff, 1804px 374px #fff, 1716px 866px #fff, 1784px 844px #fff, 41px 494px #fff, 1759px 887px #fff, 690px 7px #fff, 1782px 964px #fff, 945px 92px #fff, 72px 70px #fff, 344px 773px #fff, 1742px 870px #fff, 612px 272px #fff, 1611px 971px #fff, 1898px 306px #fff, 1381px 719px #fff, 638px 178px #fff, 606px 963px #fff, 696px 795px #fff, 833px 569px #fff, 943px 354px #fff, 1349px 578px #fff, 338px 602px #fff, 614px 223px #fff, 1467px 764px #fff, 306px 847px #fff, 1587px 486px #fff, 1783px 500px #fff, 854px 423px #fff, 184px 243px #fff, 623px 911px #fff, 344px 452px #fff, 1193px 443px #fff, 417px 17px #fff, 678px 453px #fff, 496px 356px #fff, 394px 459px #fff, 1570px 656px #fff, 305px 747px #fff, 1824px 79px #fff, 1210px 507px #fff, 1747px 318px #fff, 460px 356px #fff, 887px 820px #fff, 642px 262px #fff, 609px 280px #fff, 957px 368px #fff, 588px 358px #fff, 1213px 754px #fff, 1729px 163px #fff, 243px 245px #fff, 899px 867px #fff, 1526px 64px #fff, 667px 827px #fff, 870px 688px #fff, 756px 663px #fff, 1631px 458px #fff, 886px 698px #fff, 586px 394px #fff, 230px 906px #fff, 541px 673px #fff, 959px 17px #fff, 651px 698px #fff, 285px 713px #fff, 1105px 632px #fff, 618px 847px #fff, 137px 374px #fff, 1189px 280px #fff, 1173px 219px #fff, 659px 767px #fff, 460px 135px #fff, 1765px 991px #fff, 1361px 883px #fff, 904px 965px #fff, 1186px 147px #fff, 626px 125px #fff, 981px 304px #fff, 698px 208px #fff, 168px 776px #fff, 1741px 750px #fff, 1736px 548px #fff, 1900px 200px #fff, 1209px 241px #fff, 83px 623px #fff, 1760px 682px #fff, 987px 223px #fff, 1128px 780px #fff, 774px 598px #fff, 90px 756px #fff, 89px 974px #fff, 1118px 480px #fff, 775px 115px #fff, 1760px 712px #fff, 1630px 30px #fff, 761px 845px #fff, 694px 499px #fff, 1375px 387px #fff, 1480px 46px #fff, 422px 273px #fff, 813px 717px #fff, 628px 964px #fff, 1236px 259px #fff, 1781px 937px #fff, 505px 221px #fff, 1809px 970px #fff, 1445px 685px #fff, 544px 48px #fff, 139px 145px #fff, 1703px 478px #fff, 606px 538px #fff;
}
 .meteor-1 {
	 position: absolute;
	 top: 65px;
	 left: 51%;
	 width: 300px;
	 height: 1px;
	 transform: rotate(-45deg);
	 background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	 animation: meteor 5.6s linear infinite;
}
 .meteor-1:before {
	 content: "";
	 position: absolute;
	 width: 4px;
	 height: 5px;
	 border-radius: 50%;
	 margin-top: -2px;
	 background: rgba(255, 255, 255, .7);
	 box-shadow: 0 0 15px 3px #fff;
}
 .meteor-2 {
	 position: absolute;
	 top: 244px;
	 left: 50%;
	 width: 300px;
	 height: 1px;
	 transform: rotate(-45deg);
	 background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	 animation: meteor 8.3s linear infinite;
}
 .meteor-2:before {
	 content: "";
	 position: absolute;
	 width: 4px;
	 height: 5px;
	 border-radius: 50%;
	 margin-top: -2px;
	 background: rgba(255, 255, 255, .7);
	 box-shadow: 0 0 15px 3px #fff;
}
 .meteor-3 {
	 position: absolute;
	 top: 76px;
	 left: 74%;
	 width: 300px;
	 height: 1px;
	 transform: rotate(-45deg);
	 background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	 animation: meteor 7.8s linear infinite;
}
 .meteor-3:before {
	 content: "";
	 position: absolute;
	 width: 4px;
	 height: 5px;
	 border-radius: 50%;
	 margin-top: -2px;
	 background: rgba(255, 255, 255, .7);
	 box-shadow: 0 0 15px 3px #fff;
}
 .meteor-4 {
	 position: absolute;
	 top: 201px;
	 left: 91%;
	 width: 300px;
	 height: 1px;
	 transform: rotate(-45deg);
	 background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	 animation: meteor 9.5s linear infinite;
}
 .meteor-4:before {
	 content: "";
	 position: absolute;
	 width: 4px;
	 height: 5px;
	 border-radius: 50%;
	 margin-top: -2px;
	 background: rgba(255, 255, 255, .7);
	 box-shadow: 0 0 15px 3px #fff;
}
 .meteor-5 {
	 position: absolute;
	 top: 141px;
	 left: 41%;
	 width: 300px;
	 height: 1px;
	 transform: rotate(-45deg);
	 background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	 animation: meteor 9.5s linear infinite;
}
 .meteor-5:before {
	 content: "";
	 position: absolute;
	 width: 4px;
	 height: 5px;
	 border-radius: 50%;
	 margin-top: -2px;
	 background: rgba(255, 255, 255, .7);
	 box-shadow: 0 0 15px 3px #fff;
}
 .meteor-6 {
	 position: absolute;
	 top: 159px;
	 left: 65%;
	 width: 300px;
	 height: 1px;
	 transform: rotate(-45deg);
	 background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	 animation: meteor 5.4s linear infinite;
}
 .meteor-6:before {
	 content: "";
	 position: absolute;
	 width: 4px;
	 height: 5px;
	 border-radius: 50%;
	 margin-top: -2px;
	 background: rgba(255, 255, 255, .7);
	 box-shadow: 0 0 15px 3px #fff;
}
 .meteor-7 {
	 position: absolute;
	 top: 172px;
	 left: 80%;
	 width: 300px;
	 height: 1px;
	 transform: rotate(-45deg);
	 background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	 animation: meteor 6.4s linear infinite;
}
 .meteor-7:before {
	 content: "";
	 position: absolute;
	 width: 4px;
	 height: 5px;
	 border-radius: 50%;
	 margin-top: -2px;
	 background: rgba(255, 255, 255, .7);
	 box-shadow: 0 0 15px 3px #fff;
}
 .meteor-8 {
	 position: absolute;
	 top: 136px;
	 left: 31%;
	 width: 300px;
	 height: 1px;
	 transform: rotate(-45deg);
	 background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	 animation: meteor 10s linear infinite;
}
 .meteor-8:before {
	 content: "";
	 position: absolute;
	 width: 4px;
	 height: 5px;
	 border-radius: 50%;
	 margin-top: -2px;
	 background: rgba(255, 255, 255, .7);
	 box-shadow: 0 0 15px 3px #fff;
}
 .meteor-9 {
	 position: absolute;
	 top: 119px;
	 left: 37%;
	 width: 300px;
	 height: 1px;
	 transform: rotate(-45deg);
	 background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	 animation: meteor 5.2s linear infinite;
}
 .meteor-9:before {
	 content: "";
	 position: absolute;
	 width: 4px;
	 height: 5px;
	 border-radius: 50%;
	 margin-top: -2px;
	 background: rgba(255, 255, 255, .7);
	 box-shadow: 0 0 15px 3px #fff;
}
 .meteor-10 {
	 position: absolute;
	 top: 204px;
	 left: 27%;
	 width: 300px;
	 height: 1px;
	 transform: rotate(-45deg);
	 background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	 animation: meteor 9s linear infinite;
}
 .meteor-10:before {
	 content: "";
	 position: absolute;
	 width: 4px;
	 height: 5px;
	 border-radius: 50%;
	 margin-top: -2px;
	 background: rgba(255, 255, 255, .7);
	 box-shadow: 0 0 15px 3px #fff;
}
 .meteor-11 {
	 position: absolute;
	 top: 140px;
	 left: 55%;
	 width: 300px;
	 height: 1px;
	 transform: rotate(-45deg);
	 background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	 animation: meteor 8s linear infinite;
}
 .meteor-11:before {
	 content: "";
	 position: absolute;
	 width: 4px;
	 height: 5px;
	 border-radius: 50%;
	 margin-top: -2px;
	 background: rgba(255, 255, 255, .7);
	 box-shadow: 0 0 15px 3px #fff;
}
 .meteor-12 {
	 position: absolute;
	 top: 300px;
	 left: 94%;
	 width: 300px;
	 height: 1px;
	 transform: rotate(-45deg);
	 background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	 animation: meteor 6.5s linear infinite;
}
 .meteor-12:before {
	 content: "";
	 position: absolute;
	 width: 4px;
	 height: 5px;
	 border-radius: 50%;
	 margin-top: -2px;
	 background: rgba(255, 255, 255, .7);
	 box-shadow: 0 0 15px 3px #fff;
}
 .meteor-13 {
	 position: absolute;
	 top: 150px;
	 left: 79%;
	 width: 300px;
	 height: 1px;
	 transform: rotate(-45deg);
	 background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	 animation: meteor 8.9s linear infinite;
}
 .meteor-13:before {
	 content: "";
	 position: absolute;
	 width: 4px;
	 height: 5px;
	 border-radius: 50%;
	 margin-top: -2px;
	 background: rgba(255, 255, 255, .7);
	 box-shadow: 0 0 15px 3px #fff;
}
 .meteor-14 {
	 position: absolute;
	 top: 167px;
	 left: 76%;
	 width: 300px;
	 height: 1px;
	 transform: rotate(-45deg);
	 background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	 animation: meteor 8s linear infinite;
}
 .meteor-14:before {
	 content: "";
	 position: absolute;
	 width: 4px;
	 height: 5px;
	 border-radius: 50%;
	 margin-top: -2px;
	 background: rgba(255, 255, 255, .7);
	 box-shadow: 0 0 15px 3px #fff;
}
 .meteor-15 {
	 position: absolute;
	 top: 231px;
	 left: 82%;
	 width: 300px;
	 height: 1px;
	 transform: rotate(-45deg);
	 background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	 animation: meteor 6s linear infinite;
}
 .meteor-15:before {
	 content: "";
	 position: absolute;
	 width: 4px;
	 height: 5px;
	 border-radius: 50%;
	 margin-top: -2px;
	 background: rgba(255, 255, 255, .7);
	 box-shadow: 0 0 15px 3px #fff;
}
 @keyframes meteor {
	 0% {
		 opacity: 1;
		 margin-top: -300px;
		 margin-right: -300px;
	}
	 12% {
		 opacity: 0;
	}
	 15% {
		 margin-top: 300px;
		 margin-left: -600px;
		 opacity: 0;
	}
	 100% {
		 opacity: 0;
	}
}
 